* {
  box-sizing: border-box;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* global variables to declare colours much more conviniently */
:root {
  --primary-color:
    --secondary-color:
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



/* Using flex box to manipulate the positioning of the header items*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}




/* because the header items have moved all the way to the end of the viewport using flex-end.
The logo is also moved along with it. To separate the logo and the nav links, I used margin-right: auto
on the logo to automatically, according to the width of the viewport, to move completely to the right. */
.logo {
  margin-right: auto;
}

/* removes the underline of the anchor tag */
li,
.nav__links a {
  text-decoration: none;
  text-transform: uppercase
}

li,
a {
  text-decoration: none;
}

/* removes the list-style of the anchor tags, making the nav links more appropriate */
.nav__links a {
  list-style: none;
  text-decoration: none;
}

/* turns all the li in the nav__links to be laid out inline with each other instead stacked on top of one another */
.nav__links li {
  display: inline;
  padding: 0 20px;
}

.nav__links li a {
  transition: all .3s ease 0s;
  color: gray;
}

.nav__links li a:hover {
  color: blue;
}

.cta button {
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: #0000ff;
  color: white;
  cursor: pointer;
  transition: all .3s ease 0s;
}


.cta button:hover {
  padding: 15px;
  box-shadow: 2px 4px #4f4f4f
}

.hero__btn button:hover {
  padding: 20px;
  box-shadow: 2px 4px #4f4f4f
}

.hero-banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 50px;


}

.hero__title {
  width: 100%;
}

.hero__title-color {
  position: relative;
  font-weight: 800;
  box-shadow: inset 0 0 0 0 #0000ff;
  color: #0000ff;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.hero__title h1 {
  font-weight: bold;
}

.hero__title-color:hover {
  box-shadow: inset 200px 0 0 0 #0000ff;
  color: white;
}

.hero__swap {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.hero__swap::before,
.hero__swap::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.hero__swap::before {
  background-color: #0000ff;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.hero__swap::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #0000ff;
}

.hero__swap:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.hero__swap:hover::after {
  transform: translate3d(0, 0, 0);
}

.hero__swap span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.hero__swap:hover span {
  transform: translate3d(-200%, 0, 0);
}

.hero__swap {
  text-decoration: none;
  color: #18272F;
  font-weight: 700;
  vertical-align: top;
}

.hero__btn {
  margin-top: 2rem;
}

.hero__btn button {
  width: 190px;
  padding: 1rem;
  font-weight: bold;
}


.banner__content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content h1 {
  font-size: 5rem;


}

/* Hero IDs */
#hero {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

#banner__image {
  width: 500px;
  bottom: 15%;
}



.page-wrapper {


  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.left {
  width: 12%;
}

.right {
  width: 88%;
  padding-left: 2rem;
  border-left: 2px solid black;
}

/* About section */

.about__title h1 {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;

}

/* Work */
.work__title h1 {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;

}

#work {
  margin-top: 2rem;
}






/* work grid */
.wrapper-grid {
  display: grid;
  width: 55vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 200px 200px;
  grid-gap: 10px;
  grid-template-areas:
    "web1 web1"
    "web2 web3"
    "web4 web5";


}

/* Grid items */
#web1 {
  grid-area: web1;
  background-image: url(../images/02-portfolio-1.jpg);
}

#web2 {
  grid-area: web2;
  background-image: url(../images/02-portfolio-2.jpg);
}

#web3 {
  grid-area: web3;
  background-image: url(../images/02-portfolio-3.jpg);
}

#web4 {
  grid-area: web4;
  background-image: url(../images/02-portfolio-4.jpg);
}

#web5 {
  grid-area: web5;
  background-image: url(../images/02-run-buddy.jpg);
}



.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: end;
  transition: all .3s ease-in-out 0s;
  width: 100%;
}

.categoryGridArea:hover {
  border-bottom: 5px solid #0000ff;
}

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  height: 100%;
  font-size: 18px;
}

.heading a {
  color: white;
}








/* Contact Section */
.contact {
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.contact__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.contact__title h1 {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
}

.contact__links a {
  margin: 0 20px;
  padding: 2rem 0;

}









/* Media Queries */

@media only screen and (max-width: 600px) {

  header {
    display: block;
    text-align: center;
  }

  .right {
    margin: 0;
    padding: 0;
    border-left: none;
    border-top: 2px solid black;

  }

  .left {
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__links li,
  .cta button {
    font-size: 13.5px;

  }

  #hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .hero__title {
    text-align: center;

  }

  .hero__title h1 {
    font-size: 4rem;
  }

  .hero__title h2 {
    font-size: 1.5rem;
  }



  .hero__btn button {
    width: 120px;
    font-size: 1em;
  }

  #banner__image {
    width: 200px;
    bottom: 15%;
    margin-top: 100px;
  }



  .page-section {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }






  .about__title h1 {
    font-size: 2rem;
    text-align: center;


  }



  .about__content {
    padding-top: 15px;
  }

  .work__title h1 {
    font-size: 2rem;
    text-align: center;

  }

  .heading {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    height: 15px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #ff6200;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .contact__title h1 {
    font-size: 2rem;
    text-align: center;
    padding-right: 2rem;

  }

  .contact__links {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .about__content {
    text-align: justify;
  }



  .wrapper-grid {
    padding: 1rem 0;
    width: 90vw;
    grid-template-rows: repeat(5, 300px);
    grid-template-columns: 1fr;
    grid-template-areas:
      "web1"
      "web2"
      "web3"
      "web4"
      "web5";
  }

  .contact__links {
    text-align: center;
  }
}


/* Media query for medium-size screens */

@media only screen and (min-width: 601px) and (max-width: 900px) {

  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header {
    display: block;
    text-align: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .nav__links li,
  .cta button {
    font-size: 13.5px;

  }

  #hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .hero__title {
    text-align: center;
  }

  .hero__title h1 {
    font-size: 4rem;
  }

  .hero__title h2 {
    font-size: 1.5rem;
  }

  .hero__btn button {
    padding: 1rem;
    width: 170px;
    font-size: 0.9em;
  }

  #banner__image {
    width: 300px;
    bottom: 15%;
    margin-top: 100px;
  }



  .page-section {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .left {
    width: 100%;
  }

  .right {
    border-left: none;
    border-top: 2px solid black;
    padding: 0;
    margin: 0;

  }

  .about__title h1 {
    font-size: 2rem;
    text-align: center;
    padding-right: 2rem;

  }

  .about__content {
    padding-top: 15px;
  }

  .work__title h1 {
    font-size: 2rem;
    text-align: center;
    padding-right: 2rem;

  }

  .heading {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    height: 15px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #ff6200;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .contact__title h1 {
    font-size: 2rem;
    text-align: center;
    padding-right: 2rem;

  }

  .contact__links {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .about__content {
    text-align: justify;
  }



  .wrapper-grid {
    padding: 1rem 0;
    width: 100vw;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "web1"
      "web2"
      "web3"
      "web4"
      "web5";
  }
}

@media only screen and (min-width: 901px) and (max-width: 1420px) {
  .wrapper-grid {
    display: grid;
    width: 70vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 200px 200px;
    grid-gap: 10px;
    grid-template-areas:
      "web1 web1"
      "web2 web3"
      "web4 web5";


  }

  .about__title h1 {
    font-size: 1.5rem;
  }

  .work__title h1 {
    font-size: 1.5rem;
  }

  .contact__title h1 {
    font-size: 1.5rem;
  }
}