* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* global variables to declare colours much more conviniently */
:root {
  --primary-color: 
  --secondary-color:
}

/* Using flex box to manipulate the positioning of the header items*/
header {
  background-color: ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}



/* because the header items have moved all the way to the end of the viewport using flex-end.
The logo is also moved along with it. To separate the logo and the nav links, I used margin-right: auto
on the logo to automatically, according to the width of the viewport, to move completely to the right. */
.logo {
  margin-right: auto;
}

/* removes the underline of the anchor tag */
li, a {
  text-decoration: none;
  text-transform: uppercase
}

/* removes the list-style of the anchor tags, making the nav links more appropriate */
.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline;
  padding: 0 20px;
}

.nav__links li a {
  transition: all .3s ease 0s;
  color: gray;
}

.nav__links li a:hover {
  color: blue;
}

.cta button{
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: skyblue;
  color: white;
  cursor: pointer;
  transition: all .3s ease 0s;
}


.cta button:hover {
  padding: 15px;
  box-shadow: 2px 4px  #4f4f4f
}

.hero-banner {
  height: 90vh;
  overflow: hidden;
  background: rgb(235,124,255);
  background: linear-gradient(63deg, rgba(235,124,255,1) 0%, rgba(0,26,255,1) 100%);
text-align: center;
padding: 50px;
}

.banner__content {
  color: white;
}

.banner__content h1 {
  font-size: 4rem;

}

.page-wrapper {
  margin: 10px 20px;
}



  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }

  .heading {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #ff6200;
  }


  /* IDs */

  #about {
    display: flex;
    margin-bottom: 100px;
  }


  #about h1 {
    font-size: 3rem;
    width: 115px;
  
  }

  #about p {
    margin: 0px 5%;
    display: flex;
    align-items: center;
  }
  #categoryGrid {
      margin: 0px 5%;
      display: grid;
      grid-template-rows: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
      grid-template-areas:
        "web1 web1 web1"
        "web2 web3 web4"
        "web5 web5 web5"
        ;
    }
  
    #work {
      display: flex;
    }
  
    .page-section h1 {
      margin-right: 50px;
    }
  
  
  
    #web1 {
      grid-area: web1;
      background-color: antiquewhite;
      transition: all .3s ease 0s;
    }
    #web2 {
      grid-area: web2;
      background-color: skyblue;
    }
    #web3 {
      grid-area: web3;
      background-color: red
    }
    #web4 {
      grid-area: web4;
      background-color: rgb(213, 144, 54);
    }
    #web5 {
      grid-area: web5;
      background-color: antiquewhite;
    }
  
    #web1:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

#work h1 {
  font-size: 3rem;
}




body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


