* {
  box-sizing: border-box;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* global variables to declare colours much more conviniently */
:root {
  --primary-color: 
  --secondary-color:
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



/* Using flex box to manipulate the positioning of the header items*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}




/* because the header items have moved all the way to the end of the viewport using flex-end.
The logo is also moved along with it. To separate the logo and the nav links, I used margin-right: auto
on the logo to automatically, according to the width of the viewport, to move completely to the right. */
.logo {
  margin-right: auto;
}

/* removes the underline of the anchor tag */
li {
  text-decoration: none;
  text-transform: uppercase
}

/* removes the list-style of the anchor tags, making the nav links more appropriate */
.nav__links a {
  list-style: none;
  text-decoration: none;
}

/* turns all the li in the nav__links to be laid out inline with each other instead stacked on top of one another */
.nav__links li {
  display: inline;
  padding: 0 20px;
}

.nav__links li a {
  transition: all .3s ease 0s;
  color: gray;
}

.nav__links li a:hover {
  color: blue;
}

.cta button {
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: #0000ff;
  color: white;
  cursor: pointer;
  transition: all .3s ease 0s;
}


.cta button:hover {
  padding: 15px;
  box-shadow: 2px 4px  #4f4f4f
}

.hero-banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
padding: 50px;


}

.hero__title {
  width: 100%;
}

.hero__title-color {
  position: relative;
  font-weight: 800;
  box-shadow: inset 0 0 0 0 #0000ff;
  color: #0000ff;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.hero__title h1 {
  font-weight: bold;
}

.hero__title-color:hover {
  box-shadow: inset 200px 0 0 0 #0000ff;
  color: white;
}

.hero__swap {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.hero__swap::before,
.hero__swap::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.hero__swap::before {
  background-color: #0000ff;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.hero__swap::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #0000ff;
}

.hero__swap:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.hero__swap:hover::after {
  transform: translate3d(0, 0, 0);
}

.hero__swap span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.hero__swap:hover span {
  transform: translate3d(-200%, 0, 0);
}

.hero__swap {
  text-decoration: none;
  color: #18272F;
  font-weight: 700;
  vertical-align: top;
}

.hero__btn {
  margin-top: 2rem;
}


.banner__content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content h1 {
  font-size: 5rem;
  

}

/* Hero IDs */
#hero {
  height: 90vh;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  

}

#banner__image {
  width: 500px;
  bottom: 15%;
}



.page-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.left {
  width: 15%;
}

.right {
  width: 75%;
  padding-left: 2rem;
  border-left: 2px solid black;
}

/* About section */

.about__title h1 {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
  
}

/* Work */
.work__title h1 {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
  
}

#work {
  margin-top: 2rem;
}

  


/* work grid */


#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas:
    "web1 web1"
    "web2 web3"
    "web4 web5";
}

#web1 {
  grid-area: web1;
  background-color: antiquewhite;
  transition: all .3s ease 0s;
}
#web2 {
  grid-area: web2;
  background-color: skyblue;
}
#web3 {
  grid-area: web3;
  background-color: red
}
#web4 {
  grid-area: web4;
  background-color: rgb(213, 144, 54);
}
#web5 {
  grid-area: web5;
  background-color: antiquewhite;
}

#web1:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #ff6200;
}




/* Contact Section */
.contact {
  margin-bottom: 2rem;
  margin-top: 2rem;
} 

.contact__title h1 {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
}

.contact__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;

  
}

.contact__links a {
  margin-left: 2rem;
  width: 100%;
  text-decoration: none;
}









/* Media Queries */


  



